@charset "UTF-8";
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-duration: 250ms;
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 
Альтернативный вариант от Олексея
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-header__container {
  display: flex;
}

.main-header__navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.logo__accent {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--main-duration) var(--main-timing-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    align-items: flex-start;
  }
  .contacts__item {
    padding: 0;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    color: var(--paragraph-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color var(--main-duration) var(--main-timing-function);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
  .contacts__icon {
    display: block;
    margin-right: 10px;
    fill: var(--paragraph-text-color);
  }
  .contacts__link:hover .contacts__icon,
  .contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .contacts__link {
    font-size: 14px;
  }
  .contacts__icon {
    width: 16px;
    height: 16px;
  }
}

.main-header {
  border-bottom: 1px solid #ececec;
}

.main-header__container {
  position: relative;
}

.menu-mob-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-mob-button__icon {
  fill: #000000;
}

.menu-mob-button:hover .menu-mob-button__icon,
.menu-mob-button:focus .menu-mob-button__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-mob-button {
    display: none;
  }
}

.menu-mob {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 48px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
  background: var(--main-background-color);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-mob.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-mob__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__item:last-child {
  margin-bottom: 302px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-contacts__item:first-child {
  margin-bottom: 32px;
}

.mob-contacts__item:last-child {
  margin-bottom: 64px;
}

.mob-contacts__phone {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 34px;
  line-height: 40px;
  color: var(--accent-color);
}

.mob-contacts__mail {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 28px;
  color: var(--paragraph-text-color);
}

.mob-social {
  display: flex;
  flex-wrap: wrap;
}

.mob-social__item:not(:first-child) {
  padding-left: 10px;
}

.mob-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.hero {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(48, 49, 59, 0.4), rgba(48, 49, 59, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.hero__heading {
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--main-duration) var(--main-timing-function);
  cursor: pointer;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */