// .doing {
//   padding-top: 47px;
//   padding-bottom: 94px;

//   &__list {
//     display: flex;
//   }

//   &__item {
//     position: relative;

//     &:not(:last-child) {
//       margin-right: 30px;
//     }
//   }

//   &__description {
//     display: block;
//     padding-top: 27px;
//     padding-bottom: 27px;

//     font-size: 14px;
//     font-weight: 700;
//     line-height: 1.14;
//     text-transform: uppercase;
//     color: var(--secondary-text-color);
//     text-align: center;
//   }

//   &__block {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 70px;

//     background-color: hsla(235, 10%, 21%, 0.8);
//   }
// }
