.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;

  &__contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &__item:last-child {
    margin-bottom: 60px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--main-duration) var(--main-timing-function);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0px;
  padding: 0;
  text-align: center;

  color: var(--secondary-text-color);
}

.address-link {
  color: var(--secondary-text-color);
  transition: color var(--main-duration) var(--main-timing-function);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-form {
  &__subheading {
    display: block;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-text-color);
  }

  &__input {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border var(--main-duration) var(--main-timing-function);
    color: var(--secondary-text-color);

    &:focus {
      border: 1px solid var(--accent-color);
      outline: none;
      cursor: var(--accent-color);
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button {
    position: relative;
    background-color: var(--accent-color);
    min-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 62px;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: var(--secondary-text-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    transition: background-color var(--main-duration)
      var(--main-timing-function);
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }

  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    fill: var(--secondary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .main-footer {
    &__container {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .footer-form {
    &__input {
      width: 450px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-footer {
    &__container {
      justify-content: space-between;
    }

    &__contacts {
      text-align: left;
    }
  }

  .footer-logo {
    text-align: left;
  }

  .footer-form {
    display: inline-block;

    &__subheading {
      text-align: left;
    }

    &__input {
      width: 358px;
      margin-right: 12px;
    }

    &__button {
      display: inline-block;
      margin: 0;
    }
  }
}
