// @media screen and (max-width: 767px) {
// }

.main-header {
  &__container {
    display: flex;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;

  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  &__accent {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      position: relative;

      display: block;
      padding-top: 32px;
      padding-bottom: 31px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      transition: color var(--main-duration) var(--main-timing-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
}

.current {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    align-items: flex-start;

    &__item {
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__link {
      display: flex;
      align-items: center;

      color: var(--paragraph-text-color);
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;

      transition: color var(--main-duration) var(--main-timing-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__icon {
      display: block;
      margin-right: 10px;

      fill: var(--paragraph-text-color);

      .contacts__link:hover &,
      .contacts__link:focus & {
        fill: var(--accent-color);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;

    &__item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }

    &__link {
      font-size: 14px;
    }

    &__icon {
      width: 16px;
      height: 16px;
    }
  }
}

.main-header {
  border-bottom: 1px solid #ececec;

  &__container {
    position: relative;
  }
}

.menu-mob-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;

  border: none;
  cursor: pointer;

  &__icon {
    fill: #000000;

    .menu-mob-button:hover &,
    .menu-mob-button:focus & {
      fill: var(--accent-color);
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-mob {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 48px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
  background: var(--main-background-color);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding: 0;

    background-color: transparent;

    border: none;
    cursor: pointer;
  }
}

.mob-nav {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__item:last-child {
    margin-bottom: 302px;
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
}

.mob-contacts {
  &__item {
    &:first-child {
      margin-bottom: 32px;
    }
    &:last-child {
      margin-bottom: 64px;
    }
  }

  &__phone {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 34px;
    line-height: 40px;
    color: var(--accent-color);
  }

  &__mail {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 24px;
    line-height: 28px;
    color: var(--paragraph-text-color);
  }
}

.mob-social {
  display: flex;
  flex-wrap: wrap;
  &__item {
    &:not(:first-child) {
      padding-left: 10px;
    }
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

// .menu {
//     display: flex;
//     align-items: center;

//     &__item:not(:last-child) {
//       margin-right: 50px;
//     }

//     &__link {
//       position: relative;

//       display: block;
//       padding-top: 32px;
//       padding-bottom: 31px;

//       font-weight: 500;
//       font-size: 14px;
//       line-height: 1.14;
//       letter-spacing: 0.02em;

//       transition: color var(--main-duration) var(--main-timing-function);

//       &:hover,
//       &:focus {
//         color: var(--accent-color);
//       }
//     }
//   }

// .contacts {
//   display: flex;
//   align-items: center;
//   margin-left: auto;

//   &__item:not(:last-child) {
//     margin-right: 50px;
//   }

//   &__link {
//     display: flex;
//     align-items: center;

//     color: var(--paragraph-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     transition: color var(--main-duration) var(--main-timing-function);

//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//     }
//   }

//   &__icon {
//     display: block;
//     margin-right: 10px;

//     fill: var(--paragraph-text-color);

//     .contacts__link:hover &,
//     .contacts__link:focus & {
//       fill: var(--accent-color);
//     }
//   }
// }
